# S3 username
# user-...

# S3 access key
export ACCESS_KEY=9ba1...

# S3 secret key
export SECRET_KEY=7d3f...

# container name
export BUCKET_NAME=...

# endpoint
export S3_ENDPOINT=s3.XXX.io.cloud.ovh.net

# region
export AWS_DEFAULT_REGION=XXX

